<div class="container">
    <div class="jumbotron">
        <h1>Profile Page</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {{!-- {{#each matches}}
                {{#unless favorited}} --}}
                <div class="card card-inverse card-warning mb-3 ">
                    <div class="card-block">
                        <p class="card-text">{{name}}</p>
                         <button class="btn btn-success" data-id="{{id}}">Devour it!!!</button>
                        
                    </div>
                </div>
                <br />
                {{!-- {{/unless}}
            {{/each}} --}}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            {{!-- {{#each matches}}
                {{#if favorited}} --}}
                <div class="card card-inverse card-warning mb-3 ">
                    <div class="card-block">
                        <p class="card-text">{{name}}</p>
                    </div>
                </div>
                <br />
                {{!-- {{/if}}
            {{/each}} --}}
        </div>

    </div>
</div>
