
/* body {
    background-image: url("../images/imageBurgers.jpg");
    } */

/* ul{
    list-style-type: none;
}

li {
    padding: 5px;
    margin: 5px;
    background: #d17905;
  } */

  
  .label {
    font-weight: bold;
    color: rgb(226, 225, 225);
  }

  label{
      color:white;
  }
  
  h2 {
      color:whitesmoke;
  }
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: gainsboro;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

   p.card-text{
      height:20px;
    
  }
  
  /* div.card-block{
      position: relative;
  }
  button.btn.btn-success{
      position: absolute;
      top:15px;
      right:20px;
  } */
